USE [master]
GO
/****** Object:  Database [DuLich]    Script Date: 11/11/2023 2:21:57 PM ******/
CREATE DATABASE [DuLich]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuLich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuLich]
GO
/****** Object:  Table [Account]    Script Date: 11/11/2023 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Account](
	[role] [smallint] NULL,
	[user_id] [int] NULL,
	[password] [varchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Booking]    Script Date: 11/11/2023 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[creation_date] [datetime2](7) NULL,
	[travel_package_id] [int] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Departure]    Script Date: 11/11/2023 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Departure](
	[departure_id] [int] IDENTITY(1,1) NOT NULL,
	[location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[departure_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Destination]    Script Date: 11/11/2023 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Destination](
	[destination_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [smallint] NULL,
	[location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[destination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Images]    Script Date: 11/11/2023 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Images](
	[travel_package_id] [int] NOT NULL,
	[image] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[travel_package_id] ASC,
	[image] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [travel_package]    Script Date: 11/11/2023 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [travel_package](
	[available_seats] [int] NULL,
	[checkin_time] [int] NULL,
	[checkout_time] [int] NULL,
	[combo_type] [smallint] NULL,
	[departure_date] [datetime2](7) NULL,
	[departure_id] [int] NULL,
	[destination_id] [int] NULL,
	[international_type] [smallint] NULL,
	[number_days] [int] NULL,
	[price] [float] NOT NULL,
	[return_date] [datetime2](7) NULL,
	[travel_package_id] [int] IDENTITY(1,1) NOT NULL,
	[travel_package_type] [int] NOT NULL,
	[vehicle] [smallint] NULL,
	[combo_inf] [nvarchar](255) NULL,
	[cuisine] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[hotel] [nvarchar](255) NULL,
	[ideal_time] [nvarchar](255) NULL,
	[object] [nvarchar](255) NULL,
	[package_name] [nvarchar](255) NULL,
	[tourist_attraction] [nvarchar](255) NULL,
	[vehicle_inf] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[travel_package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Userr]    Script Date: 11/11/2023 2:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Userr](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Account]  WITH CHECK ADD  CONSTRAINT [FKrp6j6u75418yo3qydoji4nfiw] FOREIGN KEY([user_id])
REFERENCES [Userr] ([user_id])
GO
ALTER TABLE [Account] CHECK CONSTRAINT [FKrp6j6u75418yo3qydoji4nfiw]
GO
ALTER TABLE [Booking]  WITH CHECK ADD  CONSTRAINT [FK10nnwpa1risd3p6m5jsno47qr] FOREIGN KEY([travel_package_id])
REFERENCES [travel_package] ([travel_package_id])
GO
ALTER TABLE [Booking] CHECK CONSTRAINT [FK10nnwpa1risd3p6m5jsno47qr]
GO
ALTER TABLE [Booking]  WITH CHECK ADD  CONSTRAINT [FKj3o9f3ctx846d809shtqe3p9x] FOREIGN KEY([user_id])
REFERENCES [Userr] ([user_id])
GO
ALTER TABLE [Booking] CHECK CONSTRAINT [FKj3o9f3ctx846d809shtqe3p9x]
GO
ALTER TABLE [Images]  WITH CHECK ADD  CONSTRAINT [FKd1ykqacebrsq0p66duktl9dhq] FOREIGN KEY([travel_package_id])
REFERENCES [travel_package] ([travel_package_id])
GO
ALTER TABLE [Images] CHECK CONSTRAINT [FKd1ykqacebrsq0p66duktl9dhq]
GO
ALTER TABLE [travel_package]  WITH CHECK ADD  CONSTRAINT [FKhqi455gwmpkfqat23djq556c2] FOREIGN KEY([destination_id])
REFERENCES [Destination] ([destination_id])
GO
ALTER TABLE [travel_package] CHECK CONSTRAINT [FKhqi455gwmpkfqat23djq556c2]
GO
ALTER TABLE [travel_package]  WITH CHECK ADD  CONSTRAINT [FKs7lrwe085wxen14g9j916lsdm] FOREIGN KEY([departure_id])
REFERENCES [Departure] ([departure_id])
GO
ALTER TABLE [travel_package] CHECK CONSTRAINT [FKs7lrwe085wxen14g9j916lsdm]
GO
ALTER TABLE [Account]  WITH CHECK ADD CHECK  (([role]>=(0) AND [role]<=(1)))
GO
ALTER TABLE [Destination]  WITH CHECK ADD CHECK  (([type]>=(0) AND [type]<=(1)))
GO
ALTER TABLE [travel_package]  WITH CHECK ADD CHECK  (([combo_type]>=(0) AND [combo_type]<=(1)))
GO
ALTER TABLE [travel_package]  WITH CHECK ADD CHECK  (([international_type]>=(0) AND [international_type]<=(1)))
GO
ALTER TABLE [travel_package]  WITH CHECK ADD CHECK  (([vehicle]>=(0) AND [vehicle]<=(1)))
GO
USE [master]
GO
