USE [master]
GO
/****** Object:  Database [DuLich]    Script Date: 11/9/2023 10:13:40 PM ******/
CREATE DATABASE [DuLich]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuLich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuLich]
GO
/****** Object:  Table [Account]    Script Date: 11/9/2023 10:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Account](
	[User_Id] [int] NULL,
	[eRole] [smallint] NULL,
	[passWord] [varchar](255) NOT NULL,
	[userName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Booking]    Script Date: 11/9/2023 10:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Booking](
	[bookingId] [int] IDENTITY(1,1) NOT NULL,
	[creationDate] [datetime2](7) NULL,
	[travelPackageId] [int] NULL,
	[userId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Departure]    Script Date: 11/9/2023 10:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Departure](
	[departureId] [int] IDENTITY(1,1) NOT NULL,
	[location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[departureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Destination]    Script Date: 11/9/2023 10:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Destination](
	[destinationId] [int] IDENTITY(1,1) NOT NULL,
	[type] [smallint] NULL,
	[location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[destinationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Images]    Script Date: 11/9/2023 10:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Images](
	[travelPackageId] [int] NOT NULL,
	[image] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[travelPackageId] ASC,
	[image] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TravelPackage]    Script Date: 11/9/2023 10:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TravelPackage](
	[availableSeats] [int] NOT NULL,
	[checkinTime] [int] NULL,
	[checkoutTime] [int] NULL,
	[comboType] [smallint] NULL,
	[departureDate] [datetime2](7) NULL,
	[departureId] [int] NULL,
	[destinationId] [int] NULL,
	[internationalType] [smallint] NULL,
	[numberDays] [int] NULL,
	[price] [float] NOT NULL,
	[returnDate] [datetime2](7) NULL,
	[travelPackageId] [int] IDENTITY(1,1) NOT NULL,
	[travelPackage_type] [int] NOT NULL,
	[vehicle] [smallint] NULL,
	[comboInf] [nvarchar](255) NULL,
	[cuisine] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[hotel] [nvarchar](255) NULL,
	[idealTime] [nvarchar](255) NULL,
	[object] [nvarchar](255) NULL,
	[packageName] [nvarchar](255) NULL,
	[touristAttraction] [nvarchar](255) NULL,
	[vehicleInf] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[travelPackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Userr]    Script Date: 11/9/2023 10:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Userr](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Account]  WITH CHECK ADD  CONSTRAINT [FK1b3add5s5tnt0b0kjtfssyqgr] FOREIGN KEY([User_Id])
REFERENCES [Userr] ([userId])
GO
ALTER TABLE [Account] CHECK CONSTRAINT [FK1b3add5s5tnt0b0kjtfssyqgr]
GO
ALTER TABLE [Booking]  WITH CHECK ADD  CONSTRAINT [FKjg33sjqqy8h901r8r9yiqys0e] FOREIGN KEY([userId])
REFERENCES [Userr] ([userId])
GO
ALTER TABLE [Booking] CHECK CONSTRAINT [FKjg33sjqqy8h901r8r9yiqys0e]
GO
ALTER TABLE [Booking]  WITH CHECK ADD  CONSTRAINT [FKkvay7fhsg3jof4cuk07qf8b41] FOREIGN KEY([travelPackageId])
REFERENCES [TravelPackage] ([travelPackageId])
GO
ALTER TABLE [Booking] CHECK CONSTRAINT [FKkvay7fhsg3jof4cuk07qf8b41]
GO
ALTER TABLE [Images]  WITH CHECK ADD  CONSTRAINT [FKj97iworc237xcfa7oyyuubm19] FOREIGN KEY([travelPackageId])
REFERENCES [TravelPackage] ([travelPackageId])
GO
ALTER TABLE [Images] CHECK CONSTRAINT [FKj97iworc237xcfa7oyyuubm19]
GO
ALTER TABLE [TravelPackage]  WITH CHECK ADD  CONSTRAINT [FK536bn41rbcsw31wqj98851nkn] FOREIGN KEY([destinationId])
REFERENCES [Destination] ([destinationId])
GO
ALTER TABLE [TravelPackage] CHECK CONSTRAINT [FK536bn41rbcsw31wqj98851nkn]
GO
ALTER TABLE [TravelPackage]  WITH CHECK ADD  CONSTRAINT [FKt42y5to2n9u4rrdtohlrrd4sn] FOREIGN KEY([departureId])
REFERENCES [Departure] ([departureId])
GO
ALTER TABLE [TravelPackage] CHECK CONSTRAINT [FKt42y5to2n9u4rrdtohlrrd4sn]
GO
ALTER TABLE [Account]  WITH CHECK ADD CHECK  (([eRole]>=(0) AND [eRole]<=(1)))
GO
ALTER TABLE [Destination]  WITH CHECK ADD CHECK  (([type]>=(0) AND [type]<=(1)))
GO
ALTER TABLE [TravelPackage]  WITH CHECK ADD CHECK  (([comboType]>=(0) AND [comboType]<=(1)))
GO
ALTER TABLE [TravelPackage]  WITH CHECK ADD CHECK  (([internationalType]>=(0) AND [internationalType]<=(1)))
GO
ALTER TABLE [TravelPackage]  WITH CHECK ADD CHECK  (([vehicle]>=(0) AND [vehicle]<=(1)))
GO
USE [master]
GO
